[user]
	name = {{ user.name }}
	email = {{ user.email | mandatory }}
[merge]
	tool = meld
[core]
	autocrlf = input
        excludesfile = /home/{{ username }}/.gitignore
        editor = vim
        pager = delta
[interactive]
	diffFilter = delta --color-only
[credential]
	helper = store
[commit]
        template = /home/{{ username }}/.git-commit-template.txt

